// :root{}
body {
    width: 100vw;
    height: 100%;
    top: 0;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Poppins', sans-serif;
    }
}

.flex-wrap {
    max-width: 1024px;
    width: 80%;
    @include flex-mixin($dir: row, $jcc: flex-start, $aic: flex-start);
    // padding: 1rem;
    @media screen and (max-width: 772px) {
        @include flex-mixin($dir: column, $jcc: flex-start, $aic: flex-start);
    }
}

.bloc-content {
    display: flex;
    flex-direction: column;
    * {
        margin: 0;
    }
}

.socials-nav {
    ul {
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        li {
            list-style: none;
            padding-right: 1.1rem;
            font-size: .9rem;
            a {
                color: $darkgrey;
                &:hover {
                    color: $red;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }
}