.header {
    position: fixed;
    width: 100%;
    height: 100vh;
    border-top: 5px solid $red;
    @include flex-mixin($jcc: flex-start);
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 90px;
        top: 0;
        background-color: rgba(255, 255, 255, 0);
        transition: all .1s ease-in-out;
    }
    .flex-wrap {
        position: relative;
        z-index: 10;
        height: 120px;
        @include flex-mixin($dir: row, $jcc: space-between);
        .logo {
            min-width: 7rem;
            height: 3rem;
            background: url('../img/logo.png') center/contain no-repeat;
            h1 {
                display: none;
            }
        }
        .main-nav {
            margin: 0 auto;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    list-style: none;
                    padding-right: 2rem;
                    a {
                        h4 {
                            font-family: 'Montserrat', sans-serif;
                            font-size: .8rem;
                            font-weight: 400;
                        }
                        text-decoration: none;
                        &:hover {
                            color: $red;
                            transition: all .3s ease-in-out;
                        }
                    }
                }
            }
            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
        .main-nav a,
        .socials-nav a {
            color: white;
        }
        .right-nav {
            @include flex-mixin($dir: row);
            .burger-menu {
                width: 25px;
                height: 1rem;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                margin-left: 1rem;
                .stripe {
                    width: 100%;
                    height: 2px;
                    background-color: white;
                }
            }
        }
    }
    &.on-scroll {
        .flex-wrap {
            height: 90px;
            transition: all .3s ease-in-out;
            color: $darkgrey;
            .logo {
                background: url('../img/logo2.png') center/contain no-repeat;
            }
            .main-nav a,
            .socials-nav a {
                color: $darkgrey;
            }
            .burger-menu .stripe {
                background-color: $darkgrey;
            }
        }
        &:before {
            background-color: rgba(255, 255, 255, .8);
            transition: all .1s ease-in-out;
        }
    }
}