.hero-banner {
    height: 100vh;
    width: 100%;
    .swiper-slide {
        &.slide1 {
            background: url('../img/master-slides-01.jpg') center/cover no-repeat;
        }
        &.slide2 {
            background: url('../img/master-slides-02.jpg') center/cover no-repeat;
        }
        &.slide3 {
            background: url('../img/master-slides-03.jpg') center/cover no-repeat;
        }
        .bloc-content {
            span {
                font-size: 3rem;
                color: white;
                text-transform: none;
            }
            h2 {
                font-size: 5rem;
                margin: 1rem 0 3rem;
                color: white;
            }
            .btn {
                @include btn;
                &:hover {
                    @include btn-hover;
                }
            }
        }
    }
}

section>div {
    width: 100%;
    height: 100%;
    @include flex-mixin;
}

.welcome {
    padding: 5rem 0 8rem;
    background: url('../img/pattern1.png');
    .flex-wrap {
        @include flex-mixin($dir: row, $jcc: flex-start);
        .bloc-content {
            width: 50%;
        }
        .bloc-img {
            @include img-frame($w: 400px, $h: 400px, $bgurl: '../img/our-story-01.jpg')
        }
        @media screen and (max-width: 772px) {
            @include flex-mixin($dir: column, $jcc: flex-start);
            .bloc-content {
                width: 100%;
            }
            .bloc-img {
                @include img-frame($w: 90vmin, $h: 90vmin, $bgurl: '../img/our-story-01.jpg');
            }
        }
    }
}

.parallax-banner {
    height: 400px;
    .bloc-title {
        h2 {
            color: white;
        }
    }
    &.vid-banner {
        height: 600px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
        }
        .bloc-content {
            position: relative;
            z-index: 1;
        }
        .play {
            @include flex-mixin;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: white;
            cursor: pointer;
            a {
                transition: all .3s ease-in-out;
                color: black;
            }
            &:hover {
                a {
                    transition: all .3s ease-in-out;
                    color: white;
                }
                background-color: rgba($color: $red,
                $alpha: .5);
                transform: scale(1.1);
                transition: all .3s ease-in-out;
            }
            transition: all .3s ease-in-out;
        }
    }
}

.menu {
    @include flex-mixin();
    background: url('../img/pattern2.png');
    padding: 5rem 0 10rem;
    .flex-wrap:nth-child(2) {
        @include flex-mixin($dir: row);
        @media screen and (max-width: 1024px) {
            @include flex-mixin;
        }
        .bloc-img {
            position: relative;
            @include flex-mixin;
            @include img-frame($w: 31%, $h: 300px);
            // @media screen and (max-width: 772px) {
            //     @include img-frame($w: 45%, $h: 200px);
            // }
            // @media screen and (max-width: 572px) {
            //     @include img-frame($w: 100%, $h: 300px);
            // }
            overflow: hidden;
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
        .bloc-img img {
            transition: all .3s ease-in-out;
            transform: scale(1);
            min-width: 100%;
            min-height: 100%;
        }
        .bc-left {
            @include flex-mixin();
            width: 66%;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            .bloc-two-img {
                display: flex;
                @media screen and (max-width: 772px) {
                    flex-direction: column;
                }
                .bloc-img {
                    &:nth-of-type(1) {
                        @include img-frame($h: 440px, $w: 325px);
                        margin-right: 10px;
                        @media screen and (max-width: 772px) {
                            margin-right: 0;
                            width: 660px;
                            height: 300px;
                        }
                    }
                    &:nth-of-type(2) {
                        @include img-frame($h: 440px, $w: 325px);
                        @media screen and (max-width: 772px) {
                            height: 300px;
                            width: 660px;
                        }
                    }
                }
            }
            .bloc-img {
                @include img-frame($h: 210px, $w: 660px);
                margin-top: 10px;
            }
        }
        .bc-right {
            width: 33%;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            .bloc-img {
                &:nth-of-type(1) {
                    @include img-frame($bgurl: '../img/our-menu-08.jpg', $h: 220px, $w: 340px);
                    margin: 10px 0 0 10px;
                    @media screen and (max-width: 1024px) {
                        height: 300px;
                        width: 660px;
                    }
                }
                &:nth-of-type(2) {
                    @include img-frame($bgurl: '../img/our-menu-10.jpg', $h: 210px, $w: 340px);
                    margin: 10px 0 0 10px;
                    @media screen and (max-width: 1024px) {
                        height: 300px;
                        width: 660px;
                    }
                }
                &:nth-of-type(3) {
                    @include img-frame($bgurl: '../img/our-menu-16.jpg', $h: 210px, $w: 340px);
                    margin: 10px 0 0 10px;
                    @media screen and (max-width: 1024px) {
                        height: 300px;
                        width: 660px;
                    }
                }
            }
        }
        .btn {
            position: absolute;
            @include btn($col: $darkgrey, $bgcol: rgba(255, 255, 255, .8));
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            font-weight: 500;
            height: unset;
            width: unset;
            padding: 1rem 2rem;
            &:hover {
                @include btn-hover($hbgcol: rgba(255, 0, 0, .8));
            }
        }
    }
}

.review-banner {
    width: 100vw;
    margin: 5rem 0;
    .swiper-slide {
        &:nth-child(1) {
            .avatar-pic {
                background: url('../img/avatar-01.jpg') center/cover no-repeat;
            }
        }
        &:nth-child(2) {
            .avatar-pic {
                background: url('../img/avatar-02.jpg') center/cover no-repeat;
            }
        }
        &:nth-child(3) {
            .avatar-pic {
                background: url('../img/avatar-03.jpg') center/cover no-repeat;
            }
        }
        margin: 0 0 3rem;
        .bloc-text {
            width: 80%;
            .avatar-pic {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 4px solid $red;
                margin: 2rem 0;
            }
            p {
                font-size: 1rem;
                letter-spacing: .05rem;
                color: $lightgrey;
                line-height: 2rem;
            }
            .fas {
                color: $red;
                margin: 1rem 0;
                font-size: 1rem;
            }
            h6 {
                text-transform: uppercase;
                font-size: .75rem;
                font-weight: 300;
                margin: 2rem 0 7rem;
            }
        }
    }
}

.blog {
    padding: 8rem 0;
    //* 2e flex wrap == wrap des blocs img text
    .flex-wrap:nth-child(2) {
        @media screen and (max-width: 1024px) {
            @include flex-mixin;
        }
        justify-content: space-between;
        //* le bloc img text
        .bloc-content {
            padding: 1rem;
            width: 33%;
            @media screen and (max-width: 1024px) {
                width: 100%;
            }
            .bloc-img {
                position: relative;
                @include flex-mixin;
                max-width: 100%;
                max-height: 100%;
                overflow: hidden;
                @include img-frame($w: 100%, $h: 200px);
                @media screen and (max-width: 1024px) {
                    @include img-frame($h: 100%, $w: 100%);
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
                img {
                    transition: all .3s ease-in-out;
                    transform: scale(1);
                    min-width: 100%;
                    min-height: 100%;
                }
            }
            &:nth-child(1) {
                .bloc-img {
                    &:after {
                        content: '21 Dec 2017';
                        @include post-date;
                    }
                }
            }
            &:nth-child(2) {
                .bloc-img {
                    position: relative;
                    &:after {
                        content: '15 Dec 2017';
                        @include post-date;
                    }
                }
            }
            &:nth-child(3) {
                .bloc-img {
                    position: relative;
                    &:after {
                        content: '12 Dec 2017';
                        @include post-date;
                    }
                }
            }
            .bloc-text {
                @include flex-mixin($aic: flex-start);
                text-align: left;
                h3 {
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1.3rem;
                    letter-spacing: .15rem;
                    margin: 2rem 0 1rem;
                    color: $darkgrey;
                }
            }
        }
    }
}