// ? base flex colonne et centrée
@mixin flex-mixin($dir:column, $wrap: nowrap, $jcc: center, $aic: center) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $jcc;
    align-items: $aic;
}

// ? base de chaque boutton, couleurs changeables
@mixin btn($col: $red, $bgcol: white) {
    width: 120px;
    height: 40px;
    margin: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: $bgcol;
    color: $col;
    cursor: pointer;
    @include flex-mixin;
    transition: all .3s ease-in-out;
}

// ? base hover boutton
@mixin btn-hover($hcol: white, $hbgcol: $red) {
    background-color: $hbgcol;
    color: $hcol;
    transition: all .3s ease-in-out;
}

// ? image en bg 
@mixin img-frame($w:unset, $h:unset, $bgurl:'../img/video-16-9.jpg') {
    width: $w;
    height: $h;
    background-image: url($bgurl);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    transition: .5s all ease-in-out;
    &:hover {
        transition: .5s all ease-in-out;
        background-size: 120%;
    }
}

@mixin post-date {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, .5);
    padding: .2rem .5rem;
    border-radius: 5px;
    color: white;
    font-size: .8rem;
}