@mixin flex-mixin($dir:column, $wrap: wrap, $jcc: center, $aic: center) {
    display: flex;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $jcc;
    align-items: $aic;
}

@mixin btn($col: $red, $bgcol: white) {
    width: 120px;
    height: 40px;
    margin: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: .8rem;
    text-transform: uppercase;
    background-color: $bgcol;
    color: $col;
    cursor: pointer;
    @include flex-mixin;
}

@mixin btn-hover($hcol: white, $hbgcol: $red) {
    transition: all .3s ease-in-out;
    background-color: $hbgcol;
    color: $hcol;
}